:root {
  --hero-bg-color: #2F303A;
  --black-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --button-bgc-color: #F5F4FA;
  --button-hover: #188CE8;
  --footer-bg-color: #2F303A;
  --contact-link-dark: #757575;
  --adress-link-light: rgba(255, 255, 255, 0.6);
  --items: 3;
  --indent: 30px;
  --primary-icon-fill: #AFB1B8;
  --secondary-icon-fill: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  color: var(--title-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.project-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.project-set__items {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.button {
  min-width: 200px;
  min-height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--button-hover);
  color: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.social-media__link--mode-light {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: var(--white-color);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__icon {
  fill: currentColor;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--black-color);
  margin-left: 0;
  margin-right: 93px;
}

.header .logo,
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-part {
  color: var(--accent-color);
}

.main-nav__list .main-nav__link--current {
  color: var(--accent-color);
}

.main-nav__link--current {
  position: relative;
}

.main-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav__link {
  color: var(--title-color);
}

.main-nav__link .main-nav__link--current,
.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link--dark {
  color: var(--contact-link-dark);
}

.main-nav__list .main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__list .main-nav__link:hover,
.main-nav__list .main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__contact {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__contact .main-nav__item + .main-nav__item {
  margin-left: 50px;
}

.contact-link svg {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.peculiarities-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.peculiarities-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities-list .points:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-item {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works {
  padding-top: 0;
}

.works__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.works__items {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}

.works__items:nth-child(3n) {
  margin-right: 0;
}

.works__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  background-color: var(--button-bgc-color);
}

.team__title {
  margin-bottom: 50px;
  margin-top: 0;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.team__member {
  width: 270px;
  background-color: var(--white-color);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__members .team__member:nth-child(4n) {
  margin-right: 0;
}

.team__member-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__member-name {
  margin-bottom: 10px;
  margin-top: 0;
}

.team__member-position {
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.clients__title {
  margin-bottom: 50px;
  margin-top: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-fill);
  border-radius: 4px;
  color: var(--primary-icon-fill);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */