.team {
    background-color: var(--button-bgc-color);
}

.team__title {
    margin-bottom: 50px;
    margin-top: 0;
}

.team__members {
    display: flex;
    padding: 0;
    margin: 0;
}

.team__member {
    width: 270px;
    background-color: var(--white-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__members .team__member:nth-child(4n) {
    margin-right: 0;
}

.team__member-name {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team__description {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team__member-name {
    margin-bottom: 10px;
    margin-top: 0;
}

.team__member-position {
    margin-bottom: 16px;
    margin-top: 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
